{% extends 'base.html.twig' %}

{% block title %}Admin Claim View{% endblock %}

{% block body %}

    <h3>Roszczenie klienta nr</h3>
    <div>
        {{ dump(data) }}

        {% if data.isVerified == false %}
        <ul>
            <li>
                <a href="{{ path('app_worker_process_claim', {id: data.id}) }}">Zweryfikuj</a>
            </li>
        </ul>
        {% endif %}
    </div>
{% endblock %}
