{% extends 'base.html.twig' %}

{% block title %}Walidacja wniosku klienta {% endblock %}

{% block body %}

        <h2 class="content-section__title">
            Wniosek typu: {% if operation == 1 %}ODMOWA PRZYJECIA{% elseif operation == 2 %}OPOZNIENIE{% elseif operation == 3 %}ODWOLANIE{% else %}Nieznany typ operacji{% endif %}
        </h2>
    <p>Krok {{ step }} z 3</p>

        <div class="row">
            <div class="col">
                {% if show_form %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Dalej" />
                    {{ form_end(form) }}
                {% else %}
                    Wniosek aktualnie jest zablokowany, proszę o kontakt z administratorem w celu dalszych działań.
                {% endif %}

            </div>
            <div class="col">
                <p id="js_placeholder_claim_link_flightradar24"></p>
                {% for f in files %}
                    {% if f.path %}
                        <img src="{{ asset(f.path) }}">
                    {% endif %}
                {% else %}
                    no files
                {% endfor %}
            </div>
        </div>

    <ul>
        <li>
{#            <a href="{{ path('app_index') }}">Wróć</a>#}
        </li>
    </ul>

{% endblock %}
