{% extends 'base.html.twig' %}

{% block title %}Offer{% endblock %}

{% block body %}
    <h1>Offer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ offer.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{% for f in files %}
                        {#        {{ dump(f) }}#}

                        {% if f.path %}
                            <img src="{{ asset(f.path) }}" style="width:200px;">
                        {% else %}
                            ---
                        {% endif %}

                    {% else %}
                        no files
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_offer_index') }}">back to list</a>

    <a href="{{ path('app_admin_offer_edit', {'id': offer.id}) }}">edit</a>

    {{ include('offer/_delete_form.html.twig') }}
{% endblock %}
