<h1>Witaj!</h1>

<p>
    Uzupełnij swoje konto, określając hasło
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">tutaj</a>
    (link jest ważny przez {{ tokenLifetime|date('g') }} godzin)
</p>

<p>
    Pozdrawiamy!
</p>