{% extends 'base.html.twig' %}

{% block title %}Dashboard - Agregacik v.1.0 {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block body %}

  
{% endblock %}
