body {
    background-color: lightgray;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
@import "~select2-bootstrap-css/select2-bootstrap.min.css";
@import "~select2/dist/css/select2.min.css";

.grid-container {padding-right: .75rem;padding-left: .75rem;max-width: 101.5rem;margin-left: auto;margin-right: auto;}
@media print,screen and (min-width:40em) {.grid-container {padding-right: .75rem;padding-left: .75rem;}}
.grid-container.fluid {padding-right: .75rem;padding-left: .75rem;max-width: 100%;margin-left: auto;margin-right: auto;}
@media print,screen and (min-width:40em) {.grid-container.fluid {padding-right: .75rem;padding-left: .75rem;}}
.grid-container.full {padding-right: 0;padding-left: 0;max-width: 100%;margin-left: auto;margin-right: auto;}
.grid-x {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;flex-flow: row wrap;}
.cell {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;min-height: 0;min-width: 0;width: 100%;}
.cell.auto {-webkit-box-flex: 1;-ms-flex: 1 1 0px;flex: 1 1 0px;}
.cell.shrink {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;}
.grid-x>.auto {width: auto;}
.grid-x>.shrink {width: auto;}
.grid-padding-x .grid-padding-x {margin-right: -.75rem;margin-left: -.75rem;}
@media print,screen and (min-width:40em) {.grid-padding-x .grid-padding-x {margin-right: -.75rem;margin-left: -.75rem;}}
.grid-container:not(.full)>.grid-padding-x {margin-right: -.75rem;margin-left: -.75rem;}
@media print,screen and (min-width:40em) {.grid-container:not(.full)>.grid-padding-x {margin-right: -.75rem;margin-left: -.75rem;}}
.grid-padding-x>.cell {padding-right: .75rem;padding-left: .75rem;}
@media print,screen and (min-width:40em) {.grid-padding-x>.cell {padding-right: .75rem;padding-left: .75rem;}}
.content-section {padding: 3rem 0;border-bottom: 2px solid rgba(0,59,69,.075);}
.content-section:last-of-type {border-bottom: 0 none;}
.content-section__title {margin-bottom: 2rem;}
