<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="agregacik.pl">
        <meta name="author" content="25W Tech">
        <meta name="keyword" content="data agregation service">
        <title>{% block title %}Agregacik{% endblock %}</title>
{#        <link href="/build/app.css" rel="stylesheet">#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_index') }}">Agregacik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
{#                <li class="nav-item active">#}
{#                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Link</a>#}
{#                </li>#}


{#                admin#}
{#                statystyki#}
{#                wnioski - overall#}
{#                + operacje na skarbonce#}

{#                pracownik#}
{#                wnioski - weryfikacja#}

{#                biuro#}
{#                pula roszczen i pula zobowiazan#}

{#                user#}
{#                moje wnioski#}
{#                moja skarbonka?#}
{#                oferty#}
{#                zakup_oferty#}

                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statystyki
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Zobacz statystyki</a>
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Klienci
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_admin_user_index') }}">Lista klientów</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Oferty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_admin_offer_index') }}">Lista ofert CRUD</a>
                    </div>
                </li>
                {% endif %}
                {% if is_granted('ROLE_WORKER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Wnioski
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_worker_claims') }}">Zobacz wnioski</a>
                    </div>
                </li>
                {% endif %}

                {% if is_granted('ROLE_CARRIER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            pula roszczen i pula zobowiazan
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="{{ path('app_carrier_claims') }}">Zobacz</a>
                        </div>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="{{ path('app_user_claims') }}">moje wnioski</a>
                            <a class="dropdown-item" href="#">moja skarbonka</a>
                            <a class="dropdown-item" href="#">zobacz liste / oferty</a>
                        </div>
                    </li>
                {% endif %}

            </ul>

            {% if is_granted('ROLE_WORKER') %}
            <div class="row t-search">
                <div class="col-12">
                    <div class="form-group js-user-claim-search" data-url="{{ path('json_worker_claim_search', {'query': 'QUERY'})}}">
                        Claim search by user: <input class="form-control typeahead" id="typeaheader" style="width: 100%;" type="text" placeholder="{{ 'form.order.firstname.label'|trans }}, {{ 'form.order.lastname.label'|trans }}, {{ 'form.address.city.label'|trans }}">
                    </div>
                </div>
            </div>
            {% endif %}

            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if app.user %}
                            {{ app.user.username }}
                        {% else %}
                            Account
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if app.user %}
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('app_login') }}">Login</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <section class="content-section">

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}


                {% block body %}
                {% endblock %}
                </section>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
