{% extends 'base.html.twig' %}

{% block title %}carrier Claims View{% endblock %}

{% block body %}
    <h1>Lista roszczeń klientów</h1>

    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>UID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Typ wniosku</th>
            <th>Zweryfikowany przez pracownika</th>
            <th>Zautoryzowany przez biuro</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td><a href="{{ path('app_carrier_claim', { 'id': row.id }) }}">{{ row.id }}</a></td>
                <td>{{ row.uid }}</td>
                <td>{{ row.author.firstname }}</td>
                <td>{{ row.author.lastname }}</td>
                <td>{{ row.author.phone }}</td>
                <td>{{ row.author.email }}</td>
                <td>{{ claim_type_determinator.determineByType(row.type) }}</td>
                <td>{% if row.isVerified %}TAK{% else %}NIE{% endif %}</td>
                <td>{% if row.isAuthenticated %}TAK{% else %}NIE{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_carrier_claim', { 'id': row.id }) }}">pokaż</a>
                        </li>
                        {% if row.isVerified %}
                            <li>
                                <a href="{{ path('app_carrier_claim_file', { 'id': row.id , 'doctype': 1}) }}">{{ doctype_type_determinator.determineByType(1) }}</a>
                            </li>
                            <li>
                                <a href="{{ path('app_carrier_claim_file', { 'id': row.id , 'doctype': 2}) }}">{{ doctype_type_determinator.determineByType(2) }}</a>
                            </li>
                            <li>
                                <a href="{{ path('app_carrier_claim_file', { 'id': row.id , 'doctype': 3}) }}">{{ doctype_type_determinator.determineByType(3) }}</a>
                            </li>
                            <li>
                                <a href="{{ path('app_carrier_claim_file', { 'id': row.id , 'doctype': 4}) }}">{{ doctype_type_determinator.determineByType(4) }}</a>
                            </li>
                            <li>
                                <a href="{{ path('app_carrier_claim_file', { 'id': row.id , 'doctype': 5}) }}">{{ doctype_type_determinator.determineByType(5) }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
{#            <a href="{{ path('produkty_new_product') }}">Dodaj nowy Produkt</a>#}
        </li>
    </ul>
{% endblock %}
