{% extends 'base.html.twig' %}

{% block title %}carrier Claim View{% endblock %}

{% block body %}

    <h3>Roszczenie klienta nr</h3>
    <div>
        {{ dump(data) }}
        {{ dump(claim_process_data) }}


        <ul>
            <li>
                <a href="javascript:alert('zatwierdzenie przez biuro do zrobienia - klucz publiczny prywatny')">Zatwierdź</a>
                <a href="{{ path('app_carrier_claim_test_auth', { 'id': data.id }) }}">Zatwierdź</a>
            </li>
        </ul>
    </div>
{% endblock %}
