{% extends 'base.html.twig' %}

{% block title %}User Claims View{% endblock %}

{% block body %}
    <h1>Lista twoich roszczeń</h1>

    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>UID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Typ wniosku</th>
            <th>Zweryfikowany przez pracownika</th>
            <th>Zautoryzowany przez biuro</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td><a href="{{ path('app_user_claim', { 'id': row.id }) }}">{{ row.id }}</a></td>
                <td>{{ row.uid }}</td>
                <td>{{ row.author.firstname }}</td>
                <td>{{ row.author.lastname }}</td>
                <td>{{ row.author.phone }}</td>
                <td>{{ row.author.email }}</td>
                <td>{{ claim_type_determinator.determineByType(row.type) }}</td>
                <td>{% if row.isVerified %}TAK{% else %}NIE{% endif %}</td>
                <td>{% if row.isAuthenticated %}TAK{% else %}NIE{% endif %}</td>
                <td>
{#                    <ul>#}
{#                        <li>#}
{#                            <a href="{{ path('produkty_show', { 'id': row.id }) }}">pokaż</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="{{ path('produkty_edit', { 'id': row.id }) }}">zmień</a>#}
{#                        </li>#}
{#                    </ul>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
{#            <a href="{{ path('produkty_new_product') }}">Dodaj nowy Produkt</a>#}
        </li>
    </ul>
{% endblock %}
