{% extends 'base.html.twig' %}

{% block title %}User Coins{% endblock %}

{% block body %}

    <h3>Twoja skarbonka </h3>
    <div>

        //todo pokazać ile w jakiej walucie masz punktow

    </div>
{% endblock %}
