{% extends 'base.html.twig' %}

{% block title %}Uzupełnij dane{% endblock %}

{% block body %}

    <h3>Uzupełnij dane: </h3>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Zapisz') }}</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
